.pass {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    width: 300px;
    color: white;
    margin: 50px auto;

    position: relative;

}

input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    cursor: default;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#password {
    margin-top: 20px;
    font-family: monospace;
    font-size: 18px;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    z-index: 10;

    position: relative;

    min-height: 30px;

    color: #0f0;

}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #055a9c;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #083d73;
}

.back-link {
    display: block;
    margin-top: 25px;
    color: #ccc;
    text-decoration: none;
}

.back-link:hover {
    color: white;
}